div {
  text-align: center;
}

main{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url(https://fondosmil.com/fondo/61882.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
}

h2{
  color: #087c00;
  text-decoration: line-through;
  font-size: 30px;
}

.container{
  width: 380px;
  height: 300px;
  background-color: #212936;
  padding: 10px;
  border-radius: 15px;
  display: grid;
  place-content: center;
}

.logo{
  width: 300px;
}

.information {
  display: flex;
  padding: 5px;
}
.information img{
  width: 30px;
}

input {
  background-color: #212936;
  border: 1px solid lightgray;
  color: lightgray;
  font-weight: bold;
  padding: 10px;
}

p{
  color:#9f9ea0
}

button{
  width: 90%;
  height: 40px;
  font-size: 18px;
  background-color: #3c3839;
  color: white;
  border-radius: 8px;
  border: none;
}
